@font-face{font-family:'fontca26c412eca7bdcf97850d597f3a9352';src:url('https://nomail.com.ua/files/eot/ca26c412eca7bdcf97850d597f3a9352.eot?#iefix') format('embedded-opentype'),url('https://nomail.com.ua/files/woff/ca26c412eca7bdcf97850d597f3a9352.woff') format('woff'),url('https://nomail.com.ua/files/woff2/ca26c412eca7bdcf97850d597f3a9352.woff2') format('woff2');}@font-face{font-family:'FugueHead';src:local('FugueHead'),url('https://nomail.com.ua/files/woff/ca26c412eca7bdcf97850d597f3a9352.woff') format('woff');}#fuguehead{font-family:'FugueHead';}.fontca26c412eca7bdcf97850d597f3a9352{font-family:'fontca26c412eca7bdcf97850d597f3a9352';}
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html,body{
	padding:0;
	margin:0;
}
header{
	position:fixed;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	width:100%;
}
section{
	position: absolute;
	display: flex;
	z-index: -9999;
	width: 100%;
	height: 85vh;
}
footer{
	position: absolute;
	height:10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
	font-family: Nunito;
	font-size: 14px;
	bottom: 5vh;
}
.main-section article{
	width: 50vw;
	height: 85vh;
}

/*header*/
.card2btc-logo{
	font-family: FugueHead;
	margin-left:5vw;
}
.we-accept-block{
	width: 160px;
	display: flex;
	align-items: center;
	margin-right:5vw;
}
.we-accept-text{
	font-family: Rubik;
	font-weight: lighter;
	width:70px;
	color:#999999;
	font-size: 12px;
}
.visa-img{
	height: 22px;
}
/*header-end*/

/*#mainSection*/

.yellow-left-side{
	position: relative;
	z-index: -100;
	background: -moz-linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-family: Nunito;
}
.yellow-left-side p{
	margin-left: 5vw;
}
.buy-bitcoins-text{
	margin-top: 7vw;
	font-size: 52px;
	font-weight: bold;
	width:500px;
}
.smooth-secure-text{
	font-size: 30px;
	opacity:.5;
}
.now-we-sell-btc-text{
	font-size: 36px;
}
.question-mark{

	width:20px;
	height:20px;
	top:465px;
	right:70px;
}

.notice{
	display: none;
	position: absolute;
	top:370px;
	right:10px;
	font-family: Rubik;
	font-size: 14px;
	color: white;
	background-color: black;
	width: 265px;
	height:50px;
	padding: 10px;
	z-index: 99;
	border-radius: 3px;

}

.question-mark:hover + .notice{
	display: block;
}

.white-right-side{
	background-color:#f5f4ed;
	font-family: Nunito;
}
.main-form-field{
	margin: 7vw 0 0 5vw;
	font-size:36px;

}
.main-form-field div {
	width:500px;
	height:50px;
	border-bottom:2px solid lightgray;
	margin-bottom: 70px;
}

.you-pay-usd,
.you-get-btc{
	font-weight: bold;
}

.first-input-container input,
.second-input-container input{
	border: none;
	width:270px;
	background-color: #f5f4ed;
	text-align: right;
	font-size: 36px;
}
.second-input-container input{
	width:276px;
}
.first-input-container input:focus,
.second-input-container input:focus{
	outline: none;
}
.next-button{
	font-family: Nunito;
	width:500px;
	height:90px;
	border-radius: 3px;
	border: none;
	background-color: #2e3ce8;
	color:white;
	font-size: 36px;
	font-weight: bold;
	transition: 0.1s;
}
.next-button:active{
	transform: scale(.99);
	outline: none;
}
.next-button:focus{
	outline: none;
}
.next-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.next-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.next-button:hover span {
	padding-right: 25px;
}

.next-button:hover span:after {
	opacity: 1;
	right: 0;
}

/*#mainSection-end*/


/*second-section*/

.second-section{
	background: -moz-linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,225,0,1) 0%, rgba(255,220,0,1) 62%, rgba(255,199,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-family: Nunito;
	display: none;
}
.back-arrow-text{
	position: absolute;
	top:11vh;
	left:6vw;
	color:gray;
	font-size: 18px;
}
.back-arrow-rectangle{
	position: absolute;
	top:11.2vh;
	left:5vw;
	display: inline-block;
	width:15px;
	height:15px;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	transform: rotate(45deg);
	transition: .2s ease;
}
.back-arrow-text:hover + .back-arrow-rectangle{
	left:4.8vw;

}

.working-zone{
	margin: 15vh 0 0 5vw;
	width:90vw;
	height: 60vh;
	background-color: white;
	display: flex;
}

.left-area{
	background-color: #fff2ba;
	width:30vw;
	height:100%;
}
.top-side{
	margin-left: 4vw;
	border-bottom: 1px solid lightgray;
	width:26vw;
	height:13vh;
	display: flex;
	font-size: 20px;
	align-items: center;
}
.clock-img{
	width: 50px;
	height:54px;
}
.exchange-text-container{

}
.saved-for-text,.exchange-rate-text
{
	margin: 0 0 0 20px;
}
.bot-side{
	margin-left: 4vw;
	font-size: 20px;
}
.usd-second-span,.btc-second-span{

	font-weight: bold;
	padding-left: 10px;
}
.right-area{
	position: relative;
	width: 60vw;
}
.right-area p, .right-area input, .right-area .next-button{
	margin-left: 5vw;
}
.right-area img{
	position: absolute;
	display: none;
	width:16px;
	height:12px;
}
.where-to-send-text{
	position: absolute;
	top:1vh;
	font-size: 30px;
	width:300px;
}
.bitcoin-wallet-address,.email{

	position: absolute;
	font-family: Nunito;
	font-weight: lighter;
	font-size: 26px;
	border: none;
	border-bottom: 2px solid lightgray;
}
.bitcoin-wallet-address{
	top:17vh;
	width:45vw;
}
.checked-first{

	top:18vh;
	right:10vw;
}

.email{
	top:27vh;
	width:35vw;
}
.checked-second{
	top:28vh;
	right:20vw;
}
.bitcoin-wallet-address:focus,
.email:focus{
	outline: none;
}
.right-area .next-button{
	position: absolute;
	bottom: 5vh;
}
.have-a-wallet-container{
	position: absolute;
	top:4vh;
	right:2vw;
	width:260px;
}

.have-wallet-text{
	color: gray;
	margin-right: 10px;
}
.create-wallet-btn{
	width:auto;
	height: auto;
	padding:5px 15px;
	font-size: 18px;
	background-color: white;
	border-radius: 7px;
	border:2px solid #2e3ce8;
	transition: .2s ease;
}

.create-wallet-btn:hover{
	background-color: #2e3ce8;
	color: white;
}
.create-wallet-btn:focus{
	outline:none;
}
.create-wallet-btn:active{
	transform:scale(.95);
}
/*second-section-end*/


/*footer*/
.first-footer-part{
	margin-left: 5vw;
}
.second-footer-part{
	width: 195px;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.twitter-logo-img{
	height: 17px;
}
.fb-logo-img{
	height:22px;
}
.third-footer-part{
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin-right:5vw;
	width:225px;
}

.we-guarantee-security-text{
	width:190px;
	text-align: right;
}

/*footer-end*/

.licence-n-rights{
	position: absolute;
	bottom: 0;
	font-family: Nunito;
	display: flex;
	height:5vh;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
	color:#999999;
	right: 5vw;
	width:100%;
}
.licence-n-rights p {
	margin-left: 30px;
}


/*----*/
.wrong-wallet,.wrong-email{
	color: #e37575;
	position: absolute;
	display: none;
}
.wrong-wallet{
	top:20vh;
}
.wrong-email{
	top:30vh;
}
.warning{
	border-bottom: 2px solid #e37575!important;
}
.deactivated {
	background-color: #5963dd;
}
.deactivated span:after{
	content: " ";
}
.deactivated:hover span {
	padding-right: 0;
}
.question-mark:hover,
button:hover,
.privacy-policy:hover,
.terms-of-use:hover,
.fb-logo-img:hover,
.twitter-logo-img:hover,
.back-arrow-text:hover
{
	cursor: pointer;
}
body:hover{
	cursor: default;
}